<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="/css/styles.css">
    </head>
    <body>
        <div class="main-content"></div>
        {{>header}}
       </div>
     <img class="portrait" src="/img/Fran Laurie.png">

     {{>footer}}
    </body>
</html>
